<app-toast [message]="toast.message"></app-toast>


<div class="card" (click)="closeAutocomplete()">
    <h4 class="card-header">Add property</h4>
    <div class="type_buttons">
        <div class="type" [class.active]="type=='buy'" (click)="type = 'buy'">Buy</div>
        <div class="type" [class.active]="type=='sell'" (click)="type = 'sell'">Sell</div>
    </div>
    <div id="map" class="map"></div>
    <div class="card-block" *ngIf="type=='sell'">
        <form [formGroup]="addCatForm" (ngSubmit)="addCat()">
            <div class="form-group">
                <span>Address (Moscow)</span>
                <input class="form-control" type="text" name="location_address" formControlName="location_address" placeholder="">
                <div class="autocomplete" *ngIf="autocompleteList['location_address'].length">
                    <div *ngFor="let item of autocompleteList['location_address']; let i = index" tabindex="0" class="autocomplete_item autocomplete-item-{{i}}"
                        (click)="choseItem(item, 'location_address')">{{item.title}}</div>
                </div>
                <div class="metroList" *ngIf="metroSuggestions['location_address'].length">
                    <div class="metro" *ngFor="let item of metroSuggestions['location_address']">{{item.title}} ({{item.distance | number: '.1'}})</div>
                </div>


            </div>
            <div class="form-group">
                <span>Rooms</span>
                <input class="form-control" type="text" name="rooms" formControlName="rooms" placeholder="">
            </div>
            <div class="form-group">
                <span>Area</span>
                <input class="form-control" type="text" name="size" formControlName="size" placeholder="">
            </div>
            <div class="form-group">
                <span>Price</span>
                <input class="form-control" type="text" name="price" formControlName="price" placeholder="">
            </div>
            <div class="form-group">
                <span>Floor</span>
                <input class="form-control" type="text" name="level" formControlName="level" placeholder="">
            </div>
            <div class="form-group">
                <span>Description: </span>
                <textarea class="form-control" type="text" name="description" formControlName="description" placeholder=""></textarea>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
        </form>
    </div>
    <div class="card-block" *ngIf="type=='buy'">
        <form [formGroup]="addBuyForm" (ngSubmit)="addCat(true)">
            <div class="form-group">
                <span>Address</span>
                <input class="form-control" type="text" name="buy_location_address1" formControlName="buy_location_address1" placeholder="">
                <div class="autocomplete" *ngIf="autocompleteList['buy_location_address1'].length">
                    <div *ngFor="let item of autocompleteList['buy_location_address1']; let i = index" tabindex="0" class="autocomplete_item autocomplete-item-{{i}}"
                        (click)="choseItem(item, 'buy_location_address1')">{{item.title}}</div>
                </div>
                <div class="metroList" *ngIf="metroSuggestions['buy_location_address1'].length">
                    <div class="metro" *ngFor="let item of metroSuggestions['buy_location_address1']">{{item.title}} ({{item.distance | number: '.1'}})</div>
                </div>
            </div>
            <div class="form-group">
                <span>Address (extra)</span>
                <input class="form-control" type="text" name="buy_location_address2" formControlName="buy_location_address2" placeholder="">
                <div class="autocomplete" *ngIf="autocompleteList['buy_location_address2'].length">
                    <div *ngFor="let item of autocompleteList['buy_location_address2']; let i = index" tabindex="0" class="autocomplete_item autocomplete-item-{{i}}"
                        (click)="choseItem(item, 'buy_location_address2')">{{item.title}}</div>
                </div>
                <div class="metroList" *ngIf="metroSuggestions['buy_location_address2'].length">
                    <div class="metro" *ngFor="let item of metroSuggestions['buy_location_address2']">{{item.title}} ({{item.distance | number: '.1'}})</div>
                </div>
            </div>
            <div class="form-group">
                <span>Address (extra)</span>
                <input class="form-control" type="text" name="buy_location_address3" formControlName="buy_location_address3" placeholder="">
                <div class="autocomplete" *ngIf="autocompleteList['buy_location_address3'].length">
                    <div *ngFor="let item of autocompleteList['buy_location_address3']; let i = index" tabindex="0" class="autocomplete_item autocomplete-item-{{i}}"
                        (click)="choseItem(item, 'buy_location_address3')">{{item.title}}</div>
                </div>
                <div class="metroList" *ngIf="metroSuggestions['buy_location_address3'].length">
                    <div class="metro" *ngFor="let item of metroSuggestions['buy_location_address3']">{{item.title}} ({{item.distance | number: '.1'}})</div>
                </div>
            </div>
            <div class="form-group inline">
                <span>Rooms from</span>
                <input class="form-control" type="text" name="buy_rooms_from" formControlName="buy_rooms_from" placeholder="">
            </div>
            <div class="form-group inline">
                <span>Rooms to</span>
                <input class="form-control" type="text" name="buy_rooms_to" formControlName="buy_rooms_to" placeholder="">
            </div>
            <div class="form-group inline">
                <span>Area from</span>
                <input class="form-control" type="text" name="buy_size_from" formControlName="buy_size_from" placeholder="">
            </div>
            <div class="form-group inline">
                <span>Area to</span>
                <input class="form-control" type="text" name="buy_size_to" formControlName="buy_size_to" placeholder="">
            </div>
            <div class="form-group inline">
                <span>Price from</span>
                <input class="form-control" type="text" name="buy_price_from" formControlName="buy_price_from" placeholder="">
            </div>
            <div class="form-group inline">
                <span>Price to</span>
                <input class="form-control" type="text" name="buy_price_to" formControlName="buy_price_to" placeholder="">
            </div>
            <div class="form-group inline">
                <span>Floor from</span>
                <input class="form-control" type="text" name="buy_level_from" formControlName="buy_level_from" placeholder="">
            </div>
            <div class="form-group inline">
                <span>Floor to</span>
                <input class="form-control" type="text" name="buy_level_to" formControlName="buy_level_to" placeholder="">
            </div>
            <div class="form-group">
                <span>Description: </span>
                <textarea class="form-control" type="text" name="buy_description" formControlName="buy_description" placeholder=""></textarea>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
        </form>
    </div>
</div>


<div class="card" *ngIf="filteredCats.length">
    <h4 class="card-header">Fitting apartments ({{filteredCats.length}})</h4>
    <div class="card-block">
        <!-- <table class="table table-bordered table-striped"> -->

        <div class="apartments">
            <div class="apartment" *ngFor="let cat of filteredCats; let i = index">
                <form class="form-inline" #form="ngForm" *ngIf="cat.type=='sell'" (ngSubmit)="editCat(cat)" style="display:inline">
                    <b>Property for sale from {{cat.added_by}}</b>
                    <div class="attribute" *ngIf="cat.location_address != 'false'">
                        <span class="name">Address</span>
                        <span *ngIf="isEditing == -1">{{cat.location_address}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.location_address" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.rooms != 'false'">
                        <span class="name">Rooms</span>
                        <span *ngIf="isEditing == -1">{{cat.rooms}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.rooms" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.size != 'false'">
                        <span class="name">Area</span>
                        <span *ngIf="isEditing == -1">{{cat.size}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.size" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.price != 'false'">
                        <span class="name">Price</span>
                        <span *ngIf="isEditing == -1">{{cat.price}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.price" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.level != 'false'">
                        <span class="name">Floor</span>
                        <span *ngIf="isEditing == -1">{{cat.level}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.level" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.description != 'false'">
                        <span class="name">Description: </span>
                        <span *ngIf="isEditing == -1">{{cat.description}}</span>
                        <span *ngIf="isEditing == i"><textarea class="form-control" type="text" name="name" [(ngModel)]="cat.description" placeholder="" required></textarea></span>
                    </div>
                    <div class="buttons" *ngIf="isEditing == -1">
                        <button class="btn btn-sm btn-warning" (click)="enableEditing(cat, i)"><i class="fa fa-pencil"></i> Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                    <div class="buttons" *ngIf="isEditing == i">
                        <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
                        <button class="btn btn-sm btn-warning" (click)="cancelEditing(i)"><i class="fa fa-times"></i> Cancel</button>
                    </div>
                </form>

                <form class="form-inline" #form1="ngForm" *ngIf="cat.type=='buy'" (ngSubmit)="editCat(cat)" style="display:inline">
                    <b>Buy request added by {{cat.added_by}}</b>
                    <div class="attribute" *ngIf="cat.buy_location_address1 != 'false'">
                        <span class="name">Address</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_location_address1}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_location_address1" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_location_address2 != 'false'">
                        <span class="name">Address 1</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_location_address2}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_location_address2" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_location_address3 != 'false'">
                        <span class="name">Address 2</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_location_address3}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_location_address3" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_rooms_from != 'false'">
                        <span class="name">Rooms from</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_rooms_from}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_rooms_from" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_rooms_to != 'false'">
                        <span class="name">Rooms to</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_rooms_to}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_rooms_to" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_size_from != 'false'">
                        <span class="name">Area from</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_size_from}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_size_from" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_to != 'false'">
                        <span class="name">Area to</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_size_to}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_size_to" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_price_from != 'false'">
                        <span class="name">Price from</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_price_from}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_price_from" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_price_to != 'false'">
                        <span class="name">Price to</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_price_to}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_price_to" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_level_from != 'false'">
                        <span class="name">Floor from</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_level_from}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_level_from" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_level_to != 'false'">
                        <span class="name">Floor to</span>
                        <span *ngIf="isEditing == -1">{{cat.buy_level_to}}</span>
                        <span *ngIf="isEditing == i"><input class="form-control" type="text" name="name" [(ngModel)]="cat.buy_level_to" placeholder="" required></span>
                    </div>
                    <div class="attribute" *ngIf="cat.buy_description != 'false'">
                        <span class="name">Description: </span>
                        <span *ngIf="isEditing == -1">{{cat.buy_description}}</span>
                        <span *ngIf="isEditing == i"><textarea class="form-control" type="text" name="name" [(ngModel)]="cat.description" placeholder="" required></textarea></span>
                    </div>
                    <div class="buttons" *ngIf="isEditing == -1">
                        <button class="btn btn-sm btn-warning" (click)="enableEditing(cat, i)"><i class="fa fa-pencil"></i> Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                    <div class="buttons" *ngIf="isEditing == i">
                        <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
                        <button class="btn btn-sm btn-warning" (click)="cancelEditing(i)"><i class="fa fa-times"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>